@import "tailwindcss";
@import "@heroui/styles";

/* ================= THEME ================= */

@custom-variant dark (&:where(.dark, .dark *));

/* ================= GLOBAL ================= */

html,
body {
  min-height: 100%;
  scroll-behavior: smooth;
}

/* ================= LIGHT MODE ================= */

body {
  background: linear-gradient(
    to bottom,
    #f8fafc,
    #eef2ff
  );

  color: #000000;

  transition:
    background 0.3s ease,
    color 0.3s ease;
}

/* ================= DARK MODE ================= */

.dark body {
  background: #020817;

  color: #ffffff;
}

/* ================= FIX ================= */

body {
  background-attachment: fixed;
}